<h1>Your Cart</h1>
<% @cart.items.each do |item| %>
  <% product = item.product %>

    <div id="<%= "cart-#{product.id}" %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= product.full_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Production date:</strong>
    <%= product.production_date %>
  </p>

  <p>
    <strong>Guarantee:</strong>
    <%= product.guarantee %>
  </p>

  <p>
    <strong>Producer:</strong>
    <%= product.producer_id %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= product.discount %>
  </p>

  <%= form_with(url: cart_add_path) do |f| %>
    <%= f.hidden_field :id, value: product.id %>
    <%= f.number_field :quantity, value: item.quantity, min: 0 %>
    <%= f.submit "Add To Cart" %>
  <% end %>

    <%= form_with(url: cart_remove_path) do |f| %>
    <%= f.hidden_field :id, value: item.id %>
    <%= f.submit "Remove From Cart" %>
    <% end %>

    <strong>Total:</strong>
    <%= item.total %>

</div>
<% end %>
<p>Your total is $<%= @cart.total %> </p>