<h1>Корзина</h1>
<% @cart.items.each do |item| %>
  <% product = item.product %>

  <div id="<%= "cart-#{product.id}" %>">
  <p>
    <strong>Наименование:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Полное наименование:</strong>
    <%= product.full_name %>
  </p>

  <p>
    <strong>Цена:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Дата производства:</strong>
    <%= product.production_date %>
  </p>

  <p>
    <strong>Гарантия:</strong>
    <%= product.guarantee %>
  </p>

  <p>
    <strong>Производитель:</strong>
    <%= product.producer_id %>
  </p>

  <p>
    <strong>Скидка:</strong>
    <%= product.discount %>
  </p>

    <strong>Стоимость:</strong>
    <%= item.total %>

</div>
<% end %>
<p>Итого к оплате: <%= @cart.total %> рублей.</p>