<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= product.full_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Production date:</strong>
    <%= product.production_date %>
  </p>

  <p>
    <strong>Guarantee:</strong>
    <%= product.guarantee %>
  </p>

  <p>
    <strong>Producer:</strong>
    <%= product.producer_id %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= product.discount %>
  </p>

</div>
