<div id="<%= dom_id product %>">
  <p>
    <strong>Наименование:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Полное наименование:</strong>
    <%= product.full_name %>
  </p>

  <p>
    <strong>Цена:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Дата производства:</strong>
    <%= product.production_date %>
  </p>

  <p>
    <strong>Гарантия:</strong>
    <%= product.guarantee %>
  </p>

  <p>
    <strong>Производитель:</strong>
    <%= product.producer_id %>
  </p>

  <p>
    <strong>Скидка:</strong>
    <%= product.discount %>
  </p>

  <%= form_with(url: cart_add_path) do |f| %>
    <%= f.hidden_field :id, value: product.id %>
    <%= f.number_field :quantity, value: 0, min: 1 %>
    <%= f.submit "Добавить в корзину" %>
  <% end %>

</div>
